.app-header {
  background-color: var(--app-color-bg-primary);
  width: 100%;
}

.app-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-nav-header ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-nav-header li {
  color: var(--app-color-font-primary);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

.app-nav-header a.active {
  font-weight: bold;
  padding-bottom: 2px;
}
